<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PropertyZar Test Cases">
    <suite-files>
<!--        <suite-file path="Register.xml"/>-->
        <suite-file path="Login.xml"/>
        <suite-file path="Owner.xml"/>
        <suite-file path="HOA.xml"/>
        <suite-file path="Properties.xml"/>
        <suite-file path="Buildings.xml"/>
        <suite-file path="Units.xml"/>

    </suite-files>
</suite> 